<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <style>
      body {
        background-color: #333333;
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      p {
        color: #ff0000;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="color: #ffffff;">Error</h1>

      {% if error_message %}
      <p>{{ error_message }}</p>
      {% endif %}
    </div>
  </body>
</html>
